<head>
<%= csrf_meta_tags %>
</head>


<div class="row">
  <nav class="top-bar column" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h1>
            <a href="/">
              <i class="fi-book-bookmark"></i> BoOkStore
            </a>
          </h1>
        </li>
      </ul>

      <section class="top-bar-section">
      <div id="tabs">
        <ul>

        <%if current_user%>

        <% if user_signed_in? %>

            <div><h5><%= "Welcome #{current_user.email}" %></h5></div>
        <% end %>
          <li>
                 <%= link_to cart_path do%>
                 <i class="fi-shopping-cart"></i>
                 My Cart
                 (<span class="cart-count"><%=session[:cart].length if session[:cart]%></span>)
                 <%end%>
          </li>
                <li>
               <%=link_to "Add New Book", new_book_path%></li>
               <li><%= link_to "Admin Controls", rails_admin_path %></li>
              <li><%=link_to "Logout", destroy_user_session_path, method: :delete%></li><br>


                <li><i class="fi-home"></i><%= link_to "Home", root_path %><br></li>

                <li><i class="fi-widget"></i>
                <%= link_to "About", page_about_path %><br></li>
                <li><i class="fi-torsos-all"></i>
                <%= link_to "FAQs", page_faqs_path %><br></li>
                <li><i class="fi-address-book"></i>
                <%= link_to "Contact Us", page_contact_path %><br><br></li>
                
 

        <%else%>
              <li><%=link_to "Register", new_user_registration_path %></li>
              
                <%end%>

        </ul>
        </div>
      </section>

    </nav>
</div>







